.post-collection {
  margin: 0 auto;
  padding: 35px 50px;
  max-width: 800px;
  width: 100%;
}

.post-collection__container {
  margin-bottom: 20px;
}

.post-collection_error {
  color: #fff;
  font-style: normal;
  font-size: 30px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  padding: 299px 0 319px;
}

.post-collection__page {
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
  row-gap: 10px;
}

.post-collection__page_button {
  all: unset;
  width: 27px;
  height: 30px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-right: 7px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.post-collection__page_button-active {
  border: 2px solid #fff;
}

.post-collection__page_button:last-child {
  margin-right: 0;
}

.post-collection__small-container {
  overflow: hidden;
  max-height: 618px;
}

.post-animation-enter {
  opacity: 0;
}

.post-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.post-animation-exit {
  opacity: 1;
}

.post-animation-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

@media screen and (max-width: 530px) {
  .post-collection {
    padding: 25px 15px;
  }
}

@media screen and (max-width: 400px) {
  .post-collection__small-container {
    max-height: 776px;
  }

  .post-collection_error {
    padding: 50px 0;
  }
}