.post-popup {
  transition: .5s ease-in-out;
}

.post-popup_opened {
  opacity: 1;
  visibility: visible;
}

.post-popup__element {
  max-width: 800px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #000;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  max-height: 70%;
}

.post-popup__title {
  overflow-wrap: break-word;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.post-popup__text {
  overflow-wrap: break-word;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #fff;
}

.post-popup__buttons {
  position: absolute;
  align-self: end;
  top: -27px;
  right: -1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  column-gap: 2px;
}

.post-popup__button_delete {
  background-image: url('../../images/delete.svg');
}

.post-popup__button_close {
  background-image: url('../../images/close.svg');
}

.post-popup__text_overflow {
  overflow: auto;
}

@media screen and (max-width: 530px) {
  .post-popup {
    padding: 0 15px 0;
  }
}

@media screen and (max-width: 550px) {
  .post-popup__title {
    max-height: 200px;
    height: 100%;
  }
}