.post {
  display: flex;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  padding: 20px;
  align-items: center;
  min-width: 270px;
  margin-top: 15px;
  justify-content: space-between;
}

.post:nth-child(1) {
  margin-top: 0;
}

.post__content {
  max-width: 500px;
  width: 100%;
}

.post__title {
  display: block;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post__text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 10px 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.post__button {
  all: unset;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 5px;
  height: 20px;
  text-align: center;
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  transition: .3s ease-in-out;
}

.post__button:first-of-type {
  margin-right: 15px;
}

.post__button-container {
  display: flex;
}

.post__button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .post__content {
    max-width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .post__content {
    max-width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .post__content {
    max-width: 150px;
  }
}

@media screen and (max-width: 400px) {
  .post {
    flex-direction: column;
  }

  .post__content {
    max-width: 100%;
  }
}