.form-create {
  margin: 0 auto;
  max-width: 800px;
}

.post-form {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 0;
  width: 100%;
}

.post-form__title {
  margin-bottom: 10px;
}

.post-form__description {
  margin-bottom: 10px;
  min-height: 30px;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 530px) {
  .post-form {
    padding: 20px 15px 0;
  }
}