.custom-button {
  all: unset;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 7px;
  height: 20px;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #fff;
  transition: .4s ease-in-out;
}

.custom-button_disabled {
  border: 1px solid #ff0000;
  opacity: .6;
  color: #ff0000;
}

.custom-button:hover {
  opacity: .6;
  cursor: pointer;
}